/* ---------- GLOBAL FONTS ---------- */
@font-face {
  font-family: "futura-medium", Verdana, Tahoma, sans-serif;
  src: url(/fonts/Futura/FuturaPTCondMedium.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "futura-bold", Verdana, Tahoma, sans-serif;
  src: url(/fonts/Futura/FuturaPTBold.otf) format("opentype");
  font-weight: bold;
}

/* This one is for the header, and is applied directly to the elements */
@font-face {
  font-family: "architects-daughter";
  src: url(/fonts/architects-daughter/ArchitectsDaughter-vG0y.ttf)
    format("truetype");
}

/* INDEX */
.h1_index,
.cont_headers_index, 
/* ABOUT */
.paragraphs_about, 
.youtube-header_about,
/* CONTACT */
/* EXHIBITION */
.header1_exhibition,
.bannernames-exhibition,
.exhibition1-bannername,
/* GET INVOLVED */
.h1_getinvolved, 
.headers_getinvolved {
  font-family: "futura-bold", Verdana, Tahoma, sans-serif; /* BOLD */
}

/* INDEX */
.h1-para_index,
.cont_paragraphs_index,
.container_buttons-text1_index,
.container_buttons-text2_index,
/* ABOUT */
.h1_about,
.news-image-para_about,
.youtube-para_about,
/* CONTACT */
.contact-header_contact,
.contact-subheader_contact,
.main_section-1_contact,
.form_contact label,
.main_bottomsection_contact,
/* EXHIBITION */
.para1_exhibition,
.exhibition1-content-para,
.archive-link_exhibition,
/* GET INVOLVED */ 
.para-header_getinvolved,
.paragraps_getinvolved {
  font-family: "futura-medium", Verdana, Tahoma, sans-serif; /* MEDIUM (Standard) */
}

/* ---------- GLOBAL FONT-SIZE ---------- */

/* --- 14px --- */
/* FOOTER */
.newsletter-signup_footer {
  font-size: 14px;
}

/* --- 16px --- */
/* FOOTER */
.nav__list-openhours_footer,
.openhours-heading_footer,
.maps-heading_footer,
.terms-and-condition_footer,
.terms-and-condition-desktop_footer,
.newsletter-heading_footer,
/* ABOUT */
/* CONTACT */
.contact-subheader_contact,
.label-text-norobot, 
.submit-button_contact {
  font-size: 1em;
}

/* --- 18px --- */
/* INDEX */
.container_buttons-text1_index {
  font-size: 18px;
}

/* --- 20px --- */
/* FOOTER */
.maps-address_footer,
/* ABOUT */
.news-image-para_about, 
.youtube-para_about,
/* EXHIBITION */
.exhibition1-content-para,
/* GET INVOLVED */
.para1_getinvolved,
.para2_getinvolved,
.para3_getinvolved {
  font-size: 20px;
}

/* --- 26px --- */
/* FOOTER */
.opnenours_subheading_footer,
/* INDEX */
.container_buttons-text2_index,
/* CONTACT */
.contact-header_contact, 
/* EXHIBITION */
.exhibition1_header, 
.exhibition1-bannername, 
.bannernames-exhibition, 
.archive-link_exhibition, 
/* ABOUT */
.youtube-header_about {
  font-size: 26px;
}

/* --- 30px --- */
/* INDEX */
.h1_index, 
/* GETINVOLVED */
.header1_getinvolved,
.header2_getinvolved,
.header3_getinvolved, 
/* EXHIBITION */
.exhibition1-content-age, 
.exhibition1-content-category {
  font-size: 30px;
}

/* ---------- MOBILE FONT-SIZE ---------- */
@media only screen and (max-width: 599px) {
  /* --- 14px --- */
  /* INDEX */
  .cont_paragraphs_index,
  /* ABOUT */
  .paragraphs_about,  
  .news-image-para_about, 
  .youtube-para_about, 
  /* CONTACT */
  .main_section-1_contact, 
  .form_contact label,
  .main_bottomsection_contact,
  /* GET INVOLVED */
  .para-header_getinvolved,
  .paragraps_getinvolved,
  /* EXHIBITION */
  .para1_exhibition {
    font-size: 1em;
  }

  /* INDEX */
  .cont_headers_index,
  /* ABOUT */ 
  .youtube-header_about,
  /* EXHIBITION */
  .header1_exhibition,
  /* GET INVOLVED */
  .h1_getinvolved {
    font-size: 26px;
  }
}

/* ---------- DESKTOP FONT-SIZE ---------- */
@media only screen and (min-width: 600px) and (max-width: 1440px) {
  /* --- 14px --- */
  .terms-and-condition-desktop_footer {
    font-size: 14px;
  }

  /* --- 18px --- */
  /* INDEX */
  .cont_paragraphs_index, 
  /* ABOUT */
  .news-image-para_about,   
  .youtube-para_about,
  /* CONTACT */
  .form_contact label {
    font-size: 18px;
  }

  /* --- 20px --- */
  /* ABOUT */
  .paragraphs_about, 
  /* CONTACT */
  .main_section-1_contact,
  .main_bottomsection_contact, 
  /* GET INVOLVED */
  .para-header_getinvolved,
  .paragraps_getinvolved, 
  /* EXHIBITION */
  .para1_exhibition {
    font-size: 20px;
  }

  /* --- 26px --- */
  /* HEADER */
  .nav-header {
    font-size: 26px;
  }

  /* --- 30px --- */
  /* INDEX */
  .cont_headers_index, 
  /* ABOUT */
  .youtube-header_about,
  /* EXHIBITION */
  .header1_exhibition,
  /* GET INVOLVED */
  .h1_getinvolved {
    font-size: 30px;
  }
}

/* ---------- GLOBAL TEXT-CENTERING ---------- */
/* INDEX */
.h1_index,
.h1-para_index,
.cont_header1_index,
.cont_header2_index,
.cont_header3_index,
.cont_header4_index,
.cont_para5_index, 

/* ABOUT */
.h1_about,
/* CONTACT */
/* EXHIBITION */
.header1_exhibition,
/* GET INVOLVED */ 
.topsection_getinvolved {
  text-align: center;
}

/* ---------- GLOBAL DIV ---------- */
html {
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:focus,
a:focus,
a:hover,
a:active {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
}

/* ---------- GLOBAL BODY ---------- */

body {
  margin: 0;
  padding: 0;
}

/* ---------- GLOBAL HEADER ---------- */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #f5f5f5;
}

.active {
  color: white;
  background: lightgray;
}

.nav__list_header {
  font-family: "architects-daughter";
  list-style: none;
  text-decoration: none;
}

/* ---------- GLOBAL FOOTER ---------- */
footer {
  font-family: "futura-medium", Verdana, Tahoma, sans-serif;
  background: #151514;
  width: 100%;
  color: white;
}

/* section-icons in footer */
.fa-clock,
.fa-location-dot,
.fa-envelope {
  margin-top: 35px;
}

.nav__list-openhours_footer {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list-openhours_footer li {
  margin-bottom: 5px;
}

.newsletter-input_footer[type="email"] {
  width: 350px;
  padding: 8px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

.newsletter-signup_footer {
  margin-top: 15px;
  padding: 10px 50px;
  background: #2b6cb6;
  color: white;
  border: none;
  box-shadow: 5px -5px 0 0 rgb(34, 79, 131), 10px -10px 0 0 rgb(17, 45, 77);
}

.newsletter-signup_footer:hover {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  background: #235b9b;
  box-shadow: 5px -5px 0 0 rgb(22, 54, 92), 10px -10px 0 0 rgb(11, 33, 59);
}

.newsletter-signup_footer:active {
  transition: 0.1s ease-in-out;
  background: rgb(7, 158, 7);
  box-shadow: 5px -5px 0 0 rgb(6, 113, 6), 10px -10px 0 0 rgb(8, 74, 8);
}

/* Social Media icons */
.nav__list-socialmedia_footer a:visited {
  color: white;
}

/* Global Placeholders */
/* All styling does not work on all browser. Firefox is having some issues with at least padding */
input::placeholder,
textarea::placeholder {
  font-size: 14px;
  font-family: "futura-medium", Verdana, Tahoma, sans-serif;
  color: black;
  opacity: 0.7;
  padding-left: 5px;
}

/* Checkboxes */
input[type="checkbox"] {
  cursor: pointer;
  margin: 0;
  font: inherit;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.15em;
}

input[type="checkbox"]:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 1px 1px 5px 0 grey;
}

/* No robot checkbox - about */
#checkbox-norobot {
  margin-left: 15px;
}

.label-text-norobot {
  margin-left: 5px;
  position: relative;
  bottom: 5px;
}

.fa-robot {
  margin-left: 40px;
}

/* ---------- GLOBAL INDEX ---------- */
.frontpage-image_index {
  width: 100%;
}

/* Center-aligning texts in containers */

/* Content color of all containers */
.container-box1_index,
.container-box2_index,
.container-box3_index,
.container-box4_index {
  color: white;
  margin: 0 auto;
}

.h1_index {
  text-transform: uppercase;
}

/* 1st. container */
.container-box1_index {
  background: rgb(43, 108, 182);
  box-shadow: 10px -10px 0 0 rgba(43, 108, 182, 0.75);
}

/* 2nd. container */
.container-box2_index {
  background: rgb(245, 131, 0);
  box-shadow: -10px -10px 0 0 rgba(245, 131, 0, 0.75);
}

/* 3rd. container */
.container-box3_index {
  background: rgb(35, 150, 56);
  box-shadow: -10px 10px 0 0 rgba(35, 150, 56, 0.75);
}

/* 4th. container */
.container-box4_index {
  background: rgb(93, 9, 89);
  box-shadow: 10px 10px 0 0 rgba(93, 9, 89, 0.75);
}

.container-box1_index,
.container-box2_index,
.container-box3_index,
.container-box4_index {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.cont_para5_index {
  background: #151514;
  transform: rotate(-3deg);
  box-shadow: 5px 5px 5px black;
}

.container_attribute_index {
  color: white;
  height: 130px;
  box-shadow: 0px 5px 10px grey;
}

.museumlibrary-button_index,
.museumcafe-button_index,
.museumshop-button_index {
  opacity: 0.8;
}

.museumlibrary-button_index {
  background: url(/images/index/museumlibrary_button-image.jpg) no-repeat center;
  background-size: cover;
}

.museumcafe-button_index {
  background: url(/images/index/cafe_button-image.jpg) no-repeat center;
  background-size: cover;
}

.museumshop-button_index {
  background: url(/images/index/teddybeargirl_button-image.jpg) no-repeat center;
  background-size: cover;
}

.container_buttons-text_index {
  position: relative;
  top: 35px;
  left: 20px;
  background-color: black;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.fa-book-open,
.fa-mug-saucer,
.fa-cart-shopping {
  position: relative;
  bottom: 35px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}

/* ---------- GLOBAL ABOUT ---------- */
.main_about {
  background: linear-gradient(#060605, #161a1a);
}

.frontpage-image_about {
  width: 100%;
  object-fit: cover;
}

.h1_about {
  color: white;
}

.paragraphs_about {
  color: white;
}

.para1_about,
.para2_about,
.para3_about,
.para4_about {
  margin-bottom: 50px;
}

.news_about {
  width: 100%;
  height: 500px;
  background: lightblue;
}

.news-image_about {
  background: url(/images/about/ants-image.jpg) no-repeat;
  background-size: cover;
  margin: 0 auto;
  transform: rotate(-5deg);
  box-shadow: 0 0 0 10px #ffa947, 0 0 0 20px #ffc700;
}

.news-image-section_about {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  border-radius: 5px;
  background: white;
}

.fa-circle-left:hover,
.fa-circle-right:hover {
  transition: 0.3s;
  opacity: 0.5;
  cursor: pointer;
}

.news-image-para_about {
  text-align: center;
  width: 350px;
}

.bottom-section_about {
  width: 100%;
  text-align: center;
  padding: 30px 0 10px 0;
  background: lightpink;
}

.fa-youtube {
  background: red;
  padding: 20px;
  border: 2px solid black;
  border-radius: 50%;
  color: white;
}

/* ---------- GLOBAL CONTACT ---------- */
.main_topsection_contact {
  width: 100%;
  height: 150px;
  background: #2b6cb6;
}

.container-topsection_contact {
  display: flex;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.contact-header_contact {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  top: 10px;
  transform: rotate(-3deg);
  background: #ffa947;
  height: 40px;
  padding: 0 20px;
  box-shadow: 5px 5px 5px 0 rgb(0, 0, 0, 0.5);
}

.fa-comments {
  position: relative;
  top: 25px;
  left: 90px;
  color: white;
}

.contact-subheader_contact {
  white-space: nowrap;
  position: relative;
  top: 110px;
  right: 275px;
  color: white;
}

.main_section-2_contact {
  margin-top: 30px;
}

.form_contact {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.name_input,
.email_input {
  height: 30px;
}

.name_input,
.email_input,
.message_input {
  margin-bottom: 25px;
  border: 2px solid black;
  border-radius: 3px;
}

.message_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

/* Newsletter checkbox */
/* Does not work well with safari-browser */
.newsletter-checkbox_contact {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
}

.label-text2 {
  display: none;
}

#checkbox-newsletter:checked ~ .label-text1 {
  display: none;
}
#checkbox-newsletter:checked ~ .label-text2 {
  display: block;
}

.notrobot-verification_contact {
  display: flex;
  align-items: center;
  width: 275px;
  height: 60px;
  background: #f5f5f5;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 20px auto;
}

.submit-button_contact {
  width: 220px;
  height: 50px;
  background: #2b6cb6;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  margin: 20px auto;
}

.submit-button_contact:hover {
  transition: 0.3s ease-in-out;
  background: #1c5eaa;
}

.submit-button_contact:active {
  transition: 0.1s ease-in-out;
  background: rgb(7, 158, 7);
}

.main_bottomsection_contact {
  width: 360px;
  margin: 30px auto;
}

/* ---------- GLOBAL EXHIBITION ---------- */

.exhibition2-5-container_exhibition {
  color: white;
}

.exhibition1-mobile_exhibition {
  background: url(/images/exhibition/exhibition1.jpg) no-repeat;
  background-position-y: -75px;
}

.exhibition2_exhibition {
  background: url(/images/exhibition/exhibition2.jpg) no-repeat;
  background-position-y: -30px;
}

.exhibition3_exhibition {
  background: url(/images/exhibition/exhibition3.jpg) no-repeat;
  background-position-y: -50px;
}
.exhibition4_exhibition {
  background: url(/images/exhibition/exhibition4.jpg) no-repeat;
  background-position-y: -50px;
}
.exhibition5_exhibition {
  background: url(/images/exhibition/exhibition5.jpg) no-repeat;
  background-position-y: -50px;
}

.containers-exhibition {
  border: 2px solid gray;
  background-size: cover;
  box-shadow: 0px 5px 10px grey;
}

.bannernames-exhibition,
.exhibition1-bannername {
  align-items: center;
  text-align: center;
  padding: 8px 0;
  background: rgba(3, 76, 160, 0.75);
}

/* ---------- GLOBAL GET INVOLVED ---------- */

.main_getinvolved {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.topsection_getinvolved,
.midsection_getinvolved,
.bottomsection_getinvolved {
  margin-bottom: 50px;
}

.headers_getinvolved {
  width: fit-content;
  cursor: pointer;
}

.topsection-container_getinvolved {
  color: white;
  background: rgb(87, 155, 44);
  border: 10px solid rgb(67, 122, 32);
  padding: 0 15px 15px;
}

.image1_getinvolved {
  background: url(/images/getinvolved/support-image.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.midsection-container_getinvolved {
  color: white;
  background: rgb(243, 6, 6);
  border: 10px solid rgb(196, 33, 8);
  padding: 0 15px 15px;
}

.image2_getinvolved {
  background: url(/images/getinvolved/volunteer-image.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.bottomsection-container_getinvolved {
  color: white;
  background: rgb(6, 127, 232);
  border: 10px solid rgb(7, 90, 131);
  padding: 0 15px 15px;
}

.image3_getinvolved {
  background: url(/images/getinvolved/internship-image.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

/* ---------- MOBILE STYLE ---------- */
/* Styling is mostly tested in browser (stretched up to 599px), and on an iPhone 12 Pro Max. 
Everything might not work perfect on even smaller displays. Additional media queries would of course solve this. */
@media only screen and (max-width: 599px) and (orientation: portrait) {
  /* --- HEADER --- */
  header {
    height: 100px;
  }

  .nav-bar_desktop {
    display: none;
  }

  .nav-bar_mobile {
  }

  .hamburgermenu_header {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  #hamburger-checkbox-mobile,
  .nav-header {
    display: none;
  }

  #hamburger-checkbox-mobile:checked ~ .nav-header {
    display: block;
  }

  .nav__list_header {
    position: absolute;
    left: 0;
    top: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .navlist-mobile {
    color: #f5f5f5; /* Does not currently work since links are clicked on */
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .nav__list_header a:visited {
    color: #f5f5f5;
  }

  .list-header2 {
    background: #2b6cb6;
  }
  .list-header3 {
    background: #239638;
  }
  .list-header4 {
    background: #5d0959;
  }
  .list-header5 {
    background: #f58300;
  }

  .logo-header-container {
    text-align: center;
  }

  .logo_header {
    width: 200px;
    height: 100px;
  }

  /* --- FOOTER --- */
  footer {
    height: 1200px;
  }

  .left-section_footer,
  .center-section_footer,
  .right-section_footer {
    margin-left: 25px;
    margin-right: 25px;
  }

  .googlemaps_footer {
    width: 350px;
    height: 250px;
  }

  .socialmedia-icons-desktop_footer {
    display: none;
  }

  .bottom-section-desktop_footer {
    display: none;
  }

  .bottom-section-mobile_footer {
    text-align: center;
  }

  .nav__list-socialmedia-mobile_footer {
    display: inline-flex;
    padding: 0;
    list-style: none;
    gap: 2em;
    margin: 25px auto;
  }

  /* --- INDEX --- */
  .h1-para_index {
    margin: 0 60px 50px 60px;
  }

  /* Headers for all containers */
  .cont_headers_index {
    position: relative;
    top: 5px;
  }

  /* Parapraphs for all containers */
  .cont_paragraphs_index {
    margin: 0 10px;
  }

  /* global attributes for Index-containers */
  .container-box1_index,
  .container-box2_index,
  .container-box3_index,
  .container-box4_index {
    width: 350px;
    margin: 0 auto 50px auto;
  }

  /* 1.st container */
  .container-box1_index {
    height: 445px;
  }

  .cont_para1_index {
  }

  .cont_image1 {
    margin-top: 30px;
    height: 244px;
    width: 350px;
  }

  /* 2.nd and 3.rd container */

  .container-box2_index {
    height: 410px;
  }

  .container-box3_index {
    height: 350px;
  }

  .cont_header3_index {
  }

  .cont_para3_index {
    position: relative;
    bottom: 15px;
  }

  .cont_image2,
  .cont_image3 {
    margin-left: 5px;
    height: 170px;
    width: 340px;
  }

  .cont_image2 {
    margin-top: 27px;
  }

  .cont_image3 {
  }

  /* 4th. container */
  .container-box4_index {
    height: 450px;
  }

  .cont_header4_index {
    top: -215px;
  }

  .cont_para4_index,
  .cont_para5_index {
    position: relative;
    bottom: 235px;
  }

  .cont_para5_index {
    padding: 5px;
    margin-top: 15px;
  }

  .cont_image4,
  .cont_image5 {
    border: 1px solid #cccccc;
    height: 175px;
    width: 175px;
  }

  .cont_image4 {
    z-index: 1;
    position: relative;
    top: 264px;
    left: 8px;
  }

  .cont_image5 {
    z-index: 2;
    position: relative;
    bottom: 215px;
    left: 165px;
  }

  /* Aside INDEX */
  .aside_index {
    margin: 0 auto 75px auto;
  }

  .container_attribute_index {
    display: block;
    width: 370px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .fa-book-open,
  .fa-mug-saucer,
  .fa-cart-shopping {
    left: 275px;
  }

  /* --- ABOUT --- */

  .main_about {
    height: 1050px;
  }

  .frontpage-image_about {
    height: 200px;
  }

  .h1_about {
    margin: 30px 0;
  }

  .paragraphs_about {
    margin: 0 10%;
  }

  .bottom-section_about {
    height: 500px;
  }

  .news-image_about {
    width: 308px;
    height: 225px;
    position: relative;
    top: 70px;
  }

  .news-image-section_about {
    width: 360px;
    padding: 0 20px;
    position: relative;
    top: 175px;
  }

  .youtube-video_about {
    width: 392px;
    height: 221px;
  }

  /* --- CONTACT --- */
  .main_section-1_contact,
  .main_section-2_contact {
    width: 330px;
    margin: 25px auto;
  }

  .form_contact {
    width: 70%;
  }

  /* Hovers a little bit outside of forms, at least on Safari */
  .form_contact label {
    padding-left: 2px;
  }

  /* 100% makes this wider then the rest of the form. 
  The scaling might be a bit off on different screen sizes, but seems to work in most cases */
  .message_input {
    min-width: 99%;
    max-width: 99%;
  }

  /* --- EXHIBITION --- */
  .exhibition1_exhibition {
    display: none;
  }

  .para1_exhibition {
    margin: 20px 10%;
  }

  .exhibition2-5-container_exhibition {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    align-items: center;
  }

  .containers-exhibition {
    width: 90%;
    height: 190px;
  }

  .bannernames-exhibition {
    margin-top: 139px;
  }

  .exhibition-bottom-line_exhibition {
    max-width: 90%;
  }

  .archive-link_exhibition {
    width: 80%;
    text-align: center;
    margin: 20px auto;
  }

  /* --- GET INVOLVED --- */
  .main_getinvolved {
    max-width: 95%;
  }
}

/* ---------- DESKTOP STYLE ---------- */
/* Min-width should be mich higher (More around 900px, which would be more suited to the styling of the desktop version), 
but since there is no queries for section between mobile and desktop, it is set lower */
@media only screen and (min-width: 600px) and (max-width: 1600px) {
  /* --- HEADER --- */
  header {
    height: 146px;
  }

  .nav-bar_mobile {
    display: none;
  }

  .nav-bar_desktop {
    display: flex;
    flex-grow: 1;
  }

  .nav__list_header {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
  }

  .logo_header {
    width: 276px;
    height: 140px;
  }

  .nav-header {
    margin-left: auto;
    margin-top: auto;
  }

  .nav__list_header {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1em;
  }

  .list-header {
    text-decoration: none;
    padding: 15px;
  }

  .nav__list_header a:visited {
    color: black;
  }

  /* Have to fix animation. Hover color only on text - part 1 */
  .nav__list_header a:hover {
    color: white;
  }

  /* Have to fix animation. Hover color only on text - part 2 */
  .list-header:hover {
    transition: 0.3s ease;
  }

  .list-header:nth-of-type(1):hover {
    background: #151514;
  }
  .list-header:nth-of-type(2):hover {
    background: #2b6cb6;
  }
  .list-header:nth-of-type(3):hover {
    background: #239638;
  }
  .list-header:nth-of-type(4):hover {
    background: #5d0959;
  }
  .list-header:nth-of-type(5):hover {
    background: #f58300;
  }

  .nav__list_header li:nth-of-type(1) {
    margin-left: auto;
  }

  .nav__list_header li:nth-of-type(5) {
    margin-right: 50px;
  }

  /* --- FOOTER --- */
  footer {
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* FOOTER - Left section */
  .left-section_footer {
    margin-left: auto;
    margin-right: auto;
  }

  /* FOOTER - Center section */
  .center-section_footer {
    margin-left: auto;
    margin-right: auto;
  }

  .googlemaps_footer {
    width: 300px;
    height: 200px;
  }

  /* FOOTER - Right section */
  .right-section_footer {
    margin-left: auto;
    margin-right: auto;
  }

  .newsletter-form_footer {
    margin-top: 60px;
  }

  /* Social Media icons */
  .nav__list-socialmedia_footer li:nth-of-type(1) {
    margin-left: auto;
  }

  .nav__list-socialmedia_footer {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 2em;
    margin-right: 5%;
  }

  .bottom-section-mobile_footer {
    display: none;
  }

  .terms-and-condition-desktop_footer {
    margin-left: 15px;
  }

  /* --- INDEX --- */
  .container-box1_index,
  .multicontainer-box2_box3_index,
  .container-box4_index {
    margin-bottom: 75px;
  }

  .h1-para_index {
    width: 480px;
    margin: 0 auto 40px auto;
  }

  /* 1.st container */
  .container-box1_index {
    height: 650px;
    width: 1000px;
  }

  .cont_header1_index {
    position: relative;
    top: 20px;
  }

  .cont_para1_index {
    position: relative;
    top: 20px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .cont_image1 {
    margin: 40px 0 0 10px;
    height: 472px;
    width: 980px;
  }

  .multicontainer-box2_box3_index {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  /* 2nd. & 3rd. container */
  .multicontainer-box2_box3_index {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container-box2_index,
  .container-box3_index {
    height: 450px;
    width: 540px;
  }

  .container-box2_index {
    grid-column: 1;
    margin: 0 auto;
  }

  .container-box3_index {
    grid-column: 2;
    margin: 0 auto;
  }

  .cont_para2_index,
  .cont_para3_index {
    margin-left: 30px;
    margin-right: 30px;
  }

  .cont_para2_index {
    position: relative;
    bottom: 10px;
  }

  .cont_para3_index {
    position: relative;
    bottom: 25px;
  }

  .cont_image2,
  .cont_image3 {
    margin-left: 10px;
    height: 210px;
    width: 520px;
  }

  .cont_image2 {
    position: relative;
    bottom: 22px;
  }

  .cont_image3 {
    position: relative;
    top: 4px;
  }

  /* 4th. container */
  .container-box4_index {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 900px;
  }

  .cont_header4_index {
    position: relative;
    left: 200px;
    bottom: 20px;
  }

  .cont_para4_index,
  .cont_para5_index {
    position: relative;
    top: 100px;
  }

  .cont_para4_index {
    right: 50px;
  }

  .cont_para5_index {
    width: 380px;
    padding: 8px;
    right: 60px;
  }

  .cont_image4,
  .cont_image5 {
    border: 1px solid #cccccc;
    height: 220px;
    width: 220px;
  }

  .cont_image4 {
    position: relative;
    top: 60px;
    left: 15px;
  }

  .cont_image5 {
    position: relative;
    top: 15px;
    right: 50px;
  }

  /* Bottomsection INDEX */
  .container_buttons_index {
    display: flex;
    margin-bottom: 75px;
  }

  .container_attribute_index:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .container_attribute_index {
    border-radius: 5px;
    width: 300px;
  }

  .fa-book-open,
  .fa-mug-saucer,
  .fa-cart-shopping {
    left: 205px;
  }

  .museumlibrary-button_index {
    margin-right: auto;
    margin-left: auto;
  }

  .museumshop-button_index {
    margin-left: auto;
    margin-right: auto;
  }

  /* --- ABOUT --- */

  .main_about {
    height: 1050px;
  }

  .frontpage-image_about {
    height: 300px;
  }

  .paragraphs_about {
    max-width: 650px;
    margin: 0 auto;
  }

  .news-image_about {
    width: 380px;
    height: 280px;
    position: relative;
    top: 50px;
  }

  .news-image-section_about {
    width: 380px;
    padding: 0 40px;
    position: relative;
    top: 120px;
  }

  .bottom-section_about {
    height: 600px;
  }

  .youtube-header_about {
  }

  .youtube-para_about {
    width: 500px;
    margin: 0 auto 30px auto;
  }

  .youtube-video_about {
    width: 560px;
    height: 315px;
  }

  /* --- CONTACT --- */
  .main_section-1_contact,
  .main_section-2_contact {
    width: 500px;
    margin: 25px auto;
  }

  .form_contact {
    width: 500px;
  }

  .message_input {
    min-width: 500px;
    max-width: 500px;
  }

  /* --- EXHIBITION --- */
  .exhibition1-mobile_exhibition {
    display: none;
  }

  .para1_exhibition {
    margin: 30px 5%;
    text-align: center;
  }

  .exhibition1_exhibition {
    border: 3px solid #cccccc;
    background: #151514;
    color: white;
    max-width: 1040px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .exhibition1-image {
    background: url(/images/exhibition/exhibition1.jpg) no-repeat;
    background-size: 1140px 350px;
    width: 1040px;
    height: 320px;
  }

  .exhibition1_header {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 300px;
    left: 30px;
    transform: rotate(-5deg);
    background: rgba(3, 76, 160, 0.75);
    padding: 20px 0 20px 30px;
    width: 215px;
  }

  .exhibition1-bannername {
    position: relative;
    bottom: 116px;
  }

  .exhibition1-content-age {
    position: relative;
    bottom: 90px;
    left: 100px;
  }

  .exhibition1-content-category {
    float: right;
    position: relative;
    bottom: 120px;
    right: 100px;
  }

  .exhibition1-content-para {
    position: relative;
    bottom: 60px;
    margin: 0 30px;
  }

  .exhibition2-5-container_exhibition {
    display: grid;
    grid-template-areas:
      "exh1 exh2"
      "exh3 exh4";
    width: 1040px;
    height: 540px;
    margin: 75px auto 50px auto;
  }

  .containers-exhibition {
    width: 500px;
    height: 220px;
  }

  .containers-exhibition:hover,
  .exhibition1_exhibition:hover {
    transition: 0.2s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
  }

  .exhibition2_exhibition {
    grid-area: exh1;
  }

  .exhibition3_exhibition {
    grid-area: exh2;
    margin-left: auto;
  }
  .exhibition4_exhibition {
    grid-area: exh3;
    margin-top: auto;
  }
  .exhibition5_exhibition {
    grid-area: exh4;
    margin-left: auto;
    margin-top: auto;
  }

  .bannernames-exhibition {
    margin-top: 171px;
  }

  .exhibition-bottom-line_exhibition {
    max-width: 80%;
  }

  .archive-link_exhibition {
    text-align: center;
    margin: 30px auto;
  }

  /* --- GET INVOLVED --- */
  .main_getinvolved {
    max-width: 800px;
  }
}
